<h3>Hello my name is Red Hendery and this is my online portfolio. There are easter eggs.</h3>
<br>
<h3>I am a Ruby on Rails Developer, I have multiple years of experience, I likes dogs and coffee.</h3>
<br>

<h1>I do these things</h1>

<div class="row">
  <div class="col d-flex justify-content-around">
    <figure class="figure">
      <%= image_tag('rails.png', alt: 'Ruby on Rails', class: 'img-fluid') %>
      <h5 class="text-center">Ruby on Rails</h5>
      <figcaption class="figure-caption text-center">Full-Stack, Back-End, Ruby on Rails, WebPack, Node.JS etc...</figcaption>
    </figure>
    <figure class="figure">
      <%= image_tag('heroku.png', alt: 'Heroku', class: 'img-fluid') %>
      <h5 class="text-center">Cloud Deployments</h5>
      <figcaption class="figure-caption text-center">Heroku, AWS</figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-between">
    <figure class="figure">
      <%= image_tag('html.png', alt: 'HTML', class: 'img-fluid') %>
      <h5 class="text-center">Front-End Development</h5>
      <figcaption class="figure-caption text-center">HTML, CSS, SaSS, JavaScipt</figcaption>
    </figure>
    <figure class="figure">
      <%= image_tag('database.png', alt: 'Databases', class: 'img-fluid') %>
      <h5 class="text-center">Databases</h5>
      <figcaption class="figure-caption text-center">Relational, MySQL, SQL, NoSQL</figcaption>
    </figure>
    <figure class="figure">
      <%= image_tag('responsive.png', alt: 'Responsive Design', class: 'img-fluid') %>
      <h5 class="text-center">Responsive Design</h5>
      <figcaption class="figure-caption text-center">CSS, SCSS, SaSS, Bootstrap</figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-around">
    <figure class="figure">
      <%= image_tag('github.png', alt: 'Github', class: 'img-fluid') %>
      <h5 class="text-center">Github</h5>
      <figcaption class="figure-caption text-center">Source Code Management</figcaption>
    </figure>
    <figure class="figure">
      <%= image_tag('testing.png', alt: 'Testing', class: 'img-fluid') %>
      <h5 class="text-center">Testing</h5>
      <figcaption class="figure-caption text-center">User, Functional, Integration</figcaption>
    </figure>
  </div>
</div>
